* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'helvetica';
    font-size: calc(16px + 0.2vw);
    background-color: #021F61;
    color: #fff;
    letter-spacing: 0.2rem;
    height: 100vh;

    footer {
        display: grid;
        padding: 0.5rem 1rem;
        grid-template-areas:
            "map",
            "phone",
            "hours",
            "email",
            "social",
            "copywrite";
        section {
            margin: auto auto;
        }
        section .googleMaps {
            grid-area: map;
            height: 3fr;
        }
        section .phone {
            grid-area: phone;
            padding: 0.8rem 0;
            line-height: 2rem;
        }
        section .hours {
            grid-area: hours;
            padding: 0.5rem 0;
            font-size: calc(10px + 0.2vw);
            font-weight: 100;
            text-align: justify;
        }
        #hours {
            display: flex;
            flex-direction: columns;
            padding: 0.5rem 0;
        }
        .right {
            padding-left: 10vw;
        }
        #socialIcons {
            margin: 1rem auto;
            width: 40vw;
        }
        section .email {
            display: flex;
            flex-direction: columns;
            font-size: 0.8rem;
            grid-area: email;
            padding: 0.5rem 0;
            padding-bottom: 0;
            div {
              margin: auto auto;
            }
        }
        #email {
            width: 50vw;
            padding: 0.4rem 0;
            padding-left: 0.4rem;
            border: 1px solid #fff;
            border-radius: 3px;
            background-color: #021F61;
            color: #fff;
            letter-spacing: 0.1rem;

        }
        section .social {
            grid-area: social;
            text-align: center;
            padding: 1rem 0;
            line-height: 2rem;
            font-size: 0.8rem;
            p {
                line-height: 2;
                font-size: 0.8rem;
            }
        }
        section .copywrite {
            grid-area: copywrite;
            height: 1fr;
            font-size: 0.5rem;
            text-align: center;
            letter-spacing: 1px;
        }
        ol {
            li {
            padding: 0.2rem 0;
            text-decoration: none;
            list-style: none;
            letter-spacing: 0.15rem;
            }
        }
        h2 {
            font-weight: 800;
            letter-spacing: 0.2rem;
        }
        h3 {
            font-weight: 800;
        }
        h4 {
            font-weight: 800;
        }
        hr {
            background-color: #fff;
            width: 100%;
            margin: 1vh auto;
        }
    }
}









/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
    font-weight: 300;
    background-color: #021F61;
    color: #fff;
    letter-spacing: 0.1em;
    height: 100%;
}
footer {
    padding: 3vh 6vw;
}
//Element Rules
ol {
    li {
        padding: 0.2em 0;
        text-decoration: none;
        list-style: none;
        font-size: 0.7rem;
    }
}

h2 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding: 0.4rem 0;
}
h3 {
    padding: 0.3rem 0;
    font-family: 'Montserrat';
    font-weight: 800;
}
hr {
    background-color: #fff;
    margin: 2vh auto;
}
.hours .container {
    display: grid; 
    grid-template-areas:
    "left . right";
    .columnLeft {
        grid-area: left;
    }
    .columnRight {
        grid-area: right;
    }
}
//Page Styles
footer {
    display: grid;
    grid-template-areas:
        "map map",
        "phone phone",
        "hours1 hours2",
        "email email",
        "social social",
        "copywrite copywrite";
    .phoneNumber {
        grid-area: phone;
    }
    .hours {
        grid-area: hours;
    }
    #googleMap {
        grid-area: map;
    }

    .email {
        grid-area: email;
        padding: 5vh 0;
        text-align: center;
    }
    #emailCapture {
        font-size: 1rem;
        padding: 0.2rem;
        background-color: #021F61;
        border-radius: 3px;
        border: 1px solid white;
    }
    .socialMedia {
        grid-area: social;
        text-align: center;
        p {
            padding: 1vh;
        }
    .mediaButtons {
        padding: 2rem 0;
    }
}

    .copywrite{
        grid-area: copywrite;
        text-align: center;
        padding: 0.5rem 0;
        font-size: 0.4rem;
    }
}
*/