* {
  margin: 0;
  padding: 0;
}

header {
  height: 60vh;
  width: 100vw;
  background-color: #021F61;
  color: white;
  position: relative;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.pawsLogo {
  height: 50vmax;
  width: 50vmax;
  margin: 0 auto;
  margin-top: -14vw;
  margin-bottom: -12vw;
}

.mobileNumber {
  font-size: 6vh;
  font-family: "Montserrat";
  text-align: center;
}

.mobileAddress {
  font-family: "Roboto", sans-serif;
  font-size: 2vh;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px;
}

i {
  font-size: 9vw;
  padding: 4vw;
}

i:hover {
  cursor: pointer;
  color: #00A7E1;
}

#dotIcon {
  position: absolute;
  right: 0;
}

.navbar, .rightColumn, .leftColumn, .imageSlider, .windowsIntro, .windowsOurPromise, .windowsExpertAdvice {
  display: none;
}

#side-menu, #side-menu2 {
  height: 100vh;
  width: 0;
  z-index: 2;
  opacity: 0.95;
  overflow-x: hidden;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 300ms;
  margin-top: -12vh;
}

#side-menu:hover, #side-menu:active {
  color: #00A7E1;
}

#side-menu {
  position: fixed;
  top: 0;
  left: 0;
}

#side-menu2 {
  position: fixed;
  top: 0;
  right: 0;
}

i {
  font-size: 7vw;
}

i:hover {
  color: white;
}

.side-nav {
  background-color: white;
}

.side-nav a {
  padding: 2vh;
  height: 100vh;
  color: #021F61;
}

.side-nav a:hover, .side-nav a:active {
  background-color: #00A7E1;
  color: white;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  .open-side, .mobileAddress, .mobileNumber {
    display: none;
  }

  header {
    height: 40vh;
    width: 100vw;
    z-index: 100000;
  }

  #navbar {
    display: block;
    width: 100vw;
    height: 5vh;
    font-family: "Montserrat";
  }

  .navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    letter-spacing: 2px;
    background-color: #021F61;
  }

  .navbar-nav li {
    padding: 20px;
    z-index: 100000000;
  }

  .navbar-nav li:hover {
    background-color: #00A7E1;
    cursor: pointer;
  }

  .navbar-nav:active {
    color: #00A7E1;
    background-color: white;
    cursor: pointer;
  }

  .pawsLogo {
    margin: 0 auto;
    width: 50vmin;
    height: 50vmin;
  }

  .flexContainer {
    display: flex;
  }

  .rightColumn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-top: 3vh;
    margin-right: 4vw;
    padding: 2vh;
    width: 30vw;
  }

  .buttonList {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }

  .buttonList i {
    padding: 2vh;
    font-size: 5vmin;
  }

  .buttonList i:hover {
    color: #00A7E1;
  }

  .pawsAddress {
    text-align: right;
    justify-content: flex-start;
  }

  .leftColumn {
    display: block;
    position: absolute;
    margin-top: 5vh;
    margin-left: 5vw;
    top: 0;
    left: 0;
    width: 30vw;
  }

  .searchContainer input {
    width: 28vmin;
    height: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .pawsPhoneNumber ul, .pawsAddress ul {
    font-size: 2.3vmin;
  }

  .pawsPhoneNumber li {
    list-style: none;
  }
}
.mobileHero {
  background-position: center;
  background: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vmax;
  height: 50vmax;
  background-attachment: fixed;
  position: center;
}

.mobileHero h2 {
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-size: 55px;
  justify-content: end;
  position: absolute;
  bottom: -2.5vh;
  left: -3vw;
}

.mobileHero1 {
  background-image: url(pugAndBoykin.jpg);
  width: 100vw;
}

.mobileHero2 {
  background-image: url(catOutside.jpg);
  width: 100vw;
}

.mobileHero3 {
  background-image: url(goldenOutside.jpg);
  width: 100vw;
}

.mobileHero4 {
  position: relative;
  background-image: url(dogLicking.jpg);
  width: 100vw;
}

.mobileAboutUs {
  font-family: "Roboto", sans-serif;
  height: 80vh;
  margin: 5vw;
  font-size: 3vmax;
  letter-spacing: 1px;
  line-height: 30px;
}
.mobileAboutUs p {
  padding: 4vw;
}

.mobileStoreHours {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 3vmax;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
}
.mobileStoreHours p {
  padding: 4vw;
}

.mobileKittySVG {
  background-image: url(catSVG.png);
  background-position: center;
  background: cover;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  height: 45%;
  width: 45%;
  margin: 0 auto;
}

ul, .mobileGrooming p, .mobileOurFood p {
  font-family: "Roboto", sans-serif;
  font-size: 3vmax;
  list-style: none;
  letter-spacing: 1px;
  line-height: 30px;
}

.mobileStoreh3, .mobileGroomingh3, .mobileFoodh3, .mobileAddressh3 {
  font-family: "Montserrat";
  color: #021F61;
  font-size: 8vw;
  padding-bottom: 4vw;
}

.mobileGrooming, .mobileOurFood {
  height: 100vh;
  margin-top: 15%;
}
.mobileGrooming p, .mobileOurFood p {
  padding: 4vw;
}

.mobileGroomingh3, .mobileFoodh3 {
  margin: 4vw;
}

.mobileGrooming > p, .mobileOurFood > p {
  margin-top: -5vh;
  text-align: justify;
}

.mobileGroomingFlexCont {
  display: flex;
  flex-direction: column;
  color: #007EA7;
  font-size: 5vmax;
}

.mobileGroomingAnimFlexCont {
  display: flex;
  justify-content: space-between;
}

.mobileGroomingSelfService {
  text-align: center;
}

.mobileLabSVG {
  margin-top: -15vh;
}

#mobileHero4h2 {
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-size: 42px;
  justify-content: end;
  position: absolute;
  bottom: -1.6vh;
  left: -3vw;
}

.mobileBullDogSVG {
  background-image: url(mobileBullDogSVG.svg);
  background-position: center;
  background: cover;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  height: 45%;
  width: 45%;
  margin: 0 auto;
}

.mobileAddress {
  height: 50vh;
}

.mobileAddressP {
  font-family: "Roboto", sans-serif;
  font-size: 3vmax;
  letter-spacing: 1px;
  padding: 3vh;
}

.googleMaps {
  background-image: url(googleMapPlaceholder.png);
  background-position: center;
  background: cover;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  height: 50vh;
  width: 100vw;
}

footer {
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  background-color: #021F61;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 300;
}

ol li {
  text-decoration: none;
  list-style: none;
  font-size: 0.7rem;
}

.phone h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  padding: 0.4rem 0;
}

.phone h3 {
  padding: 0.3rem 0;
  font-family: "Montserrat";
  font-weight: 800;
}

hr {
  background-color: #fff;
  margin: 2vh auto;
}

.hours {
  margin-left: 5vw;
}

#hours {
  line-height: 4vh;
  display: grid;
  grid-template-areas: "left . right";
}
#hours .columnLeft {
  grid-area: left;
}
#hours .columnRight {
  grid-area: right;
}

.email {
  padding: 5vh 0;
  text-align: center;
}

#emailCapture {
  font-size: 1rem;
  padding: 0.2rem;
  background-color: #021F61;
  border-radius: 3px;
  border: 1px solid white;
}

.social p {
  text-align: center;
  padding: 2vh;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.copywrite {
  text-align: center;
  font-size: 0.4rem;
}

@media only screen and (min-width: 600px) {
  .mobileHero, .mobileAboutUs, .mobileStoreHours, .mobileGrooming, .mobileOurFood, .mobileHero, .mobileHero2, .mobileHero3, .mobileHero4 {
    display: none;
  }

  .imageSlider {
    display: block;
  }

  .main-banner {
    margin: 0 auto;
    overflow: cover;
    position: relative;
    width: 100vw;
    height: 55vh;
    z-index: -5;
  }

  .imgban {
    width: 100vmax;
    height: 50vmax;
    position: absolute;
    top: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
  }

  #imgban5 {
    background-image: url(goldenOutside.jpg);
  }

  #imgban1 {
    background-image: url(boxerOutside.jpg);
  }

  #imgban3 {
    background-image: url(sleepingCat.jpg);
  }

  #imgban2 {
    background-image: url(doodleOutside.jpg);
  }

  #imgban4 {
    background-image: url(dogShaking.jpg);
  }

  .sliderText {
    font-size: 3.5vh;
    box-sizing: border-box;
    position: relative;
    padding: 3vh;
    background-color: rgba(208, 219, 245, 0.7);
    color: #011e60;
    border-radius: 3px;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    z-index: 3000000;
    font-family: "Montserrat";
  }

  #sTdogwash {
    width: 60vmax;
    top: 60%;
    left: 25%;
  }

  #sTfblike {
    width: 40vmax;
    top: 45%;
    left: 55%;
  }

  #sTcbd {
    width: 70vmax;
    top: 70%;
    left: 12%;
  }

  #sTgrooming {
    top: 70%;
    width: 70vmax;
    margin: 0 auto;
  }

  #sTwelcome {
    width: 35vmax;
    top: 45%;
    left: 5%;
  }

  .sliderText {
    font-size: 3vw;
  }

  .windowsIntro {
    display: block;
    text-align: center;
    height: 50vh;
    width: 100vw;
    margin-top: 10vmax;
    line-height: 8vh;
    font-family: "Montserrat";
    font-size: 3.5vh;
    box-sizing: border-box;
    color: #011e60;
    padding: 5vh;
  }
  .windowsIntro h2 {
    text-transform: uppercase;
    letter-spacing: 1.7vw;
    font-weight: 700;
  }
  .windowsIntro h4 {
    color: #00A7E1;
    font-size: 3vh;
  }
  .windowsIntro svg {
    padding: 5vh;
  }

  .windowsOurPromise, .windowsExpertAdvice {
    display: block;
    font-family: "Montserrat";
    font-size: 3.5vh;
    box-sizing: border-box;
    color: #011e60;
    box-sizing: border-box;
    padding: 10vw;
  }
  .windowsOurPromise p, .windowsExpertAdvice p {
    line-height: 8vh;
  }
  .windowsOurPromise h4, .windowsExpertAdvice h4 {
    font-size: 4vh;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
  .windowsOurPromise h2, .windowsExpertAdvice h2 {
    display: flex;
    align-items: center;
    padding: 5vw;
  }

  .windowsOurPromiseGridContainer, .windowsExpertAdviceGridContainer {
    display: flex;
  }
  .windowsOurPromiseGridContainer h2, .windowsExpertAdviceGridContainer h2 {
    text-transform: uppercase;
    letter-spacing: 1.7vw;
    font-weight: 700;
  }

  .windowsExpertAdvice {
    text-align: right;
  }
  .windowsExpertAdvice p {
    padding-top: 5vw;
  }

  .googleMaps {
    margin-top: 100vh;
  }
}
@media (min-width: 900px) {
  .header {
    height: 10vh;
  }

  .imageSlider {
    height: 50vh;
  }

  ul li a {
    font-size: 20px;
  }

  .navbar-nav {
    margin-top: -10vh;
  }

  .pawsLogo {
    height: 38vw;
    width: 38vh;
    margin: 0 auto;
  }

  .googleMaps {
    margin-top: 100vh;
  }

  .sliderText {
    font-size: 4vw;
    width: 100vw;
    margin: 0;
    padding: 2vmax;
  }

  #sTdogwash {
    width: 70vmax;
    top: 60%;
    left: 15%;
  }

  #sTfblike {
    width: 40vmax;
    top: 45%;
    left: 55%;
  }

  #sTcbd {
    width: 80vmax;
    top: 70%;
    left: 12%;
  }

  #sTgrooming {
    top: 60%;
    width: 80vmax;
    margin: 0 auto;
  }

  #sTwelcome {
    width: 40vmax;
    top: 45%;
    left: 5%;
  }

  .windowsIntro {
    margin-top: 30vmax;
  }
}

/*# sourceMappingURL=style.css.map */
